<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" 
      type="image/png" 
      href="images/farmbot.svg">
</head>
<body class="green">
  <div class="nav-container">
    <div class="brown navbar">
      <label for="toggle">&#9776;</label>
      <input type="checkbox" id="toggle"/>
      <ul class="menu">
        <li class="brown"><a href="/"><img id="profile-photo-navbaritem" src="/images/farmbot.svg" alt="Home"></a></li>
        <li class="brown"><a href="userdata">Profile</a></li>
        <li class="brown"><a href="login">Login</a></li>
        <li class="brown"><a href="/help">Help</a></li>
        <li class="brown"><a href="fucktheterminal" target="_blank">process.exit()</a></li>
        {{!-- <li style="float:right" class="navbaritem brown"><a href="invite">Invite FarmBot to your server</a> --}}
        {{!-- well don't display Profile if Login is visible || can't view profile if you're not logged in dummy --}}
      </ul>
    </div>
  </div>
  {{{body}}}
</body>
</html>