<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="planks">
  <nav>
    <ul class="brown">
      <li class="green"><a href="index">Home</a></li>
      <li class="green"><a href="userdata">Profile</a></li> 
      <li class="green"><a href="login">Login</a></li>
      <li class="green"><a href="fucktheterminal" target="_blank">Kill the fucking terminal</a></li>
      <li style="float:right"><a href="invite">Invite FarmBot to your server</a></li>
      {{!-- well don't display Profile if Login is visible || can't view profile if you're not logged in dummy --}}
    </ul>
  </nav>
  {{{body}}}
</body>

</html>