<div class="center">
  <img id="profile-picture" src="/images/farmbot.svg" alt="FarmBot Profile Picture">
  <div class="red box brownborder">
    <div class="brown box">
      FarmBot is a idle Discord Bot pointed into the direction of farming!
    </div>
  </div>
</div>