<div class="center">
  <div class="pfp-container">
    <img id="profile-picture" src="/images/farmbot.svg" alt="FarmBot Profile Picture">
  </div>
  <div class="red box brownborder header-container">
    <div class="brown box header">
      FarmBot is a idle Discord Bot pointed into the direction of farming!
    </div>
  </div>
</div>