<div class="center">
  <img id="profilePicture" src="/images/farmbot.png" alt="FarmBot Profile Picture">
  <p><span class="highlight">FarmBot is a idle Discord Bot pointed into the direction of farming!</span></p>
</div>