<div class="center">
  <img id="profilePicture" src="/images/farmbot.svg" alt="FarmBot Profile Picture">
  <p><span class="brown box">FarmBot is a idle Discord Bot pointed into the direction of farming!</span></p>
</div>