<div class="center">
  <div class="red box brownborder header-container">
    <div class="brown box header">
      You haven't logged in yet! Use the command <code class="green-text">farm login</code> in discord to get your login link!
    </div>
  </div>
</div>