<button onclick="getUserData()" id="userdata">Get data</button>
<p id="content"></p>
<script>
  const button = document.getElementById("userdata")
  const content = document.getElementById("content")
  button.onclick = () => {
    let xmlhttp = new XMLHttpRequest()
    let url = "http://localhost:5000/getUserData/527729016849956874/1a40715b-8963-4eb2-bde9-b8d2c0b16cbf"

    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        let myArr = JSON.parse(this.responseText)
        content.innerHTML = myArr
      }
    }
    xmlhttp.open("GET", url, true)
    xmlhttp.send()
  }
</script>